body{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #3E3E3E;
}
.box{
    display: flex;
}
div.stock{
    padding: 40px 40px 40px 60px;
    width: calc(100% - 220px);
    margin: 0 auto;
    background-color: #F7F7F7;

}
div.nav{
    padding: 30px 10px 60px 10px;
    min-width: 220px;

}
.box-nav{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.nav-link{
    background-color: #F7F7F7;
    padding: 10px 50px;
    margin: 5px 0;
}
a.nav-link{
    text-decoration: none;
    outline: none;
}
a.nav-link:link{
    color: #3E3E3E;
}
a.nav-link:visited{
    color: #3E3E3E;
}
a.nav-link:hover{
    background-color: #8A8A8A;
    color: #F7F7F7;
}
.box-logo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.logo{
    width: 50px;
}

.logo-text-DFM{
    color: #168292;
    font-size: 22px;
}
.logo-text-wavre{
    color: #99CD33;
    font-size: 20px;
}

div.searchBar{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 20px 0;
}

div.result{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0 20px 0;
}
div.result table{
    width: 100%;
}

span.text-info {
    font-size: 15px;
    font-weight: normal;
    color: #8a8a8a;
}
.text-header{
    font-weight: bold;

}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.17em;
    font-weight: bold;
}
.svg{
    padding: 10px;
    fill: #168292;
    width: 20px;
}
.inlign-resultat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-print{
    padding: 3px;
    border-radius: 100%;
    box-shadow: 0 0 8px #F7F7F7;
    order: 2;
    margin-left: auto;
}
.svg-print{
    width: 15px;
}

.inlign-searchBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-tri{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.inline-selector{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}
span.selected{
    padding: 0 10px;
}

td{
    font-size: 15px;
    font-weight: normal;
    color: #8a8a8a;
    padding: 5px;
}